################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebSockets/obj/Debug
/WebSockets/bin/Debug
/WebSocketsExample/bin/Debug
/WebSocketsExample/obj/Debug
/WebSocketsExampleLinux/bin
/WebSocketsExampleLinux/obj/Debug
/HttpHelper/bin/Debug
/HttpHelper/obj/Debug
/packages/Antlr.3.4.1.9004
/packages/AspNet.ScriptManager.bootstrap.3.0.0
/packages/AspNet.ScriptManager.jQuery.1.10.2
/packages/bootstrap.3.0.0
/packages/EntityFramework.6.1.0
/packages
