################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebSockets/obj/Debug
/WebSockets/bin/Debug
/WebSocketsExample/bin/Debug
/WebSocketsExample/obj/Debug
/WebSocketsExampleLinux/bin
/WebSocketsExampleLinux/obj/Debug
/HttpHelper/bin/Debug
/HttpHelper/obj/Debug
